<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.careerpath.learnyo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <compatible-screens>

        <!-- all small size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="small" />
        <!-- all normal size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" />
    </compatible-screens>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/circlelogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Learnyo">
        <activity
            android:name=".learnonleranyo.TopicContentActivity"
            android:exported="false" />
        <activity
            android:name=".learnonleranyo.ContentofCourseActivity"
            android:exported="false" />
        <activity
            android:name=".teachonlearnyo.CourseContentaddActivity"
            android:exported="false" />
        <activity
            android:name=".learnonleranyo.CoursedescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".teachonlearnyo.TopicAddActivity"
            android:exported="false" />
        <activity
            android:name=".teachonlearnyo.AddnewCourseActivity"
            android:exported="false" />
        <activity
            android:name=".teachonlearnyo.teacherloginActivity"
            android:exported="false" />
        <activity
            android:name=".teachonlearnyo.TeachHomeActivity"
            android:exported="false" />
        <activity
            android:name=".learnonleranyo.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".learnonleranyo.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".learnonleranyo.CallerAuthActivity"
            android:exported="false" />
        <activity
            android:name=".learnonleranyo.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".JustSelectActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".learnonleranyo.RegisterActivity" />
    </application>

</manifest>